{{> header }}



Seller



<div class="card-panel black-text row s12" style="  padding-bottom: 150px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);">
    <div class="container">
        <h1>Hello, <text class="red-text">{{data.name}}</text></h1>

    </div>

</div>

<div class="container s12 " >






<div class="row">
    <div class="col s12 m10 offset-m1">

<h3 class="center grey-text">FEED</h3>
    <div class="right">
        <a href="/create/"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    </div>

</div>




{{#each data.items}}


<div class="row">
    <div class="col s12 m12">
<!--        <h2 class="header">Horizontal Card</h2>-->
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://materializecss.com/images/sample-1.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title"><strong>{{this.name}}</strong>                     <div class="right"><a href="/edit/{{this.id}}"class="btn-floating btn waves-effect waves-light red"><i class="material-icons">mode_edit</i></a></div>
 </span>

                    <hr>
                    <p>{{this.description}}</p>
                </div>
                <div class="card-action">
                    <form action="update/{{this.id}}" method="post">
                        <div class="row">
                            <div class="col s2">
                                <br>
                        <label for="quantity">Quantity:</label>
                            </div>
                        <div class="input-field s3 col">
                        <input type="number" name="quantity" value={{this.quantity}} >
                        </div>
                            <div class="col s3">
                                <br>
                        <input type="submit" class="btn" value="Update">
                            </div>
                        </div>
                    </form>
                    

                    

                   

<!--                    <a href="#">This is a link</a>-->
                </div>
            </div>
        </div>
    </div>
</div>





{{/each}}

</div>



{{> footer-end }}