{{> header }}



Seller
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>




<div class="row">
    <div class="col12">


        <canvas id="myChart" width="600" height="400"></canvas>

    </div>

<div class="container s12 " >






<div class="row">
    <div class="col s12 m10 offset-m1">

<h3 class="center grey-text">FEED</h3>
    <div class="right">
        <a href="/create/"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    </div>

</div>




{{#each data.items}}


<div class="row">
    <div class="col s12 m12">
<!--        <h2 class="header">Horizontal Card</h2>-->
        <div class="card horizontal">
            <div class="card-image">
                <img src="/images/uploads/thumbs/{{this.image}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title"><strong>{{this.name}}</strong>                     <div class="right"><a href="/edit/{{this.id}}"class="btn-floating btn waves-effect waves-light red"><i class="material-icons">mode_edit</i></a></div>
 </span>

                    <hr>
                    <h4 class="grey-text darken-4">Rs.{{this.price}}</h4>
                    <p>{{this.description}}</p>
                </div>
                <div class="card-action">
                    <form action="update/{{this.id}}" method="post">
                        <div class="row">
                            <div class="col s2">
                                <br>
                        <label for="quantity">Quantity:</label>
                            </div>
                        <div class="input-field s3 col">
                        <input type="number" name="quantity" value={{this.quantity}} >
                        </div>
                            <div class="col s3">
                                <br>
                        <input type="submit" class="btn" value="Update">
                            </div>
                        </div>
                    </form>
                    

                    

                   

<!--                    <a href="#">This is a link</a>-->
                </div>
            </div>
        </div>
    </div>
</div>





{{/each}}

</div>



    <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        canvas=document.getElementById("myChart")
        canvas.width = innerWidth*0.6
        // console.log(innerHeight)
        canvas.height = 300

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                // labels: ['9','10','11','12'],
                datasets: [{
                    label: 'Products Bought',
                    data:{{{data.chartData}}},
                    fill: false,
                    backgroundColor: "#eebcde ",
                    borderColor: "blue",
                    borderCapStyle: 'butt',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time:
                                {
                                    unit: 'day',
                                    displayFormats: { 'day': 'DD MMM' },
                                    max: "{{data.to}}",
                                    min: "{{data.from}}"
                                },
                        distribution: 'linear'
                    }],

                    yAxes: [{

                        display: true,
                        ticks: {
                            // minimum will be 0, unless there is a lower value.
                            // OR //
                            stepSize: 1,

                            beginAtZero: true   // minimum value will be 0.
                        }
                    }]

                }
            }
        });
    </script>



{{> footer-end }}