{{> header }}



Customer



<div class="card-panel black-text row s12" style="  padding-bottom: 150px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);">
    <div class="container">
        <h1>Hello, <text class="red-text">{{data.name}}</text></h1>

    </div>

</div>

<div class=" s12 " >






<!--<div class="row">-->
<!--    <div class="col s12 m10 offset-m1">-->

<!--<h3 class="center grey-text">FEED</h3>-->
<!--    <div class="right">-->
<!--        <a href="/create/"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
<!--    </div>-->
<!--    </div>-->

<!--</div>-->







    <ul class="tabs z-depth-1">
        <li class="tab"><a class="active" href="#books">BOOKS</a></li>
        <li class="tab"><a href="#electronics">Electronics</a></li>
        <li class="tab"><a href="#men">Men's Fashion</a></li>
        <li class="tab"><a href="#women">Women's Fashion</a></li>
        <li class="tab"><a href="#movies">Movies & Television</a></li>
        <li class="tab"><a href="#software">Software</a></li>
        <li class="tab"><a href="#beauty">Beauty & Personal Care</a></li>
        <li class="tab"><a href="#games">Video Games</a></li>
        <li class="tab"><a href="#computers">Computers</a></li>
    </ul>

    <div class="container" style="margin-top: 2em">

    <div id="books" class="col s12">

    <div class="row">

        {{#each data.items.books}}



                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                            <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                            <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                        </div>
                        <div class="card-content activator grey lighten-3">
                            <h3 class="">Rs. {{this.price}}</h3>

                            <ul>
                                {{#each this.highlight}}
                                    <li class="a">{{this}}</li>
                                {{/each}}
                            </ul>
                            <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                            <p>{{this.description}}</p>
                        </div>
                    </div>
                </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
                <div class="row">

            {{/if}}





        {{/each}}
    </div>


    </div>
    <div id="electronics" class="col s12">

    <div class="row">

        {{#each data.items.electronics}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}




        {{/each}}
    </div>


    </div>
    <div id="men" class="col s12">

    <div class="row">

        {{#each data.items.men}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}



        {{/each}}
    </div>


    </div>
    <div id="women" class="col s12">

    <div class="row">

        {{#each data.items.women}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}



        {{/each}}
    </div>


    </div>
    <div id="movies" class="col s12">

    <div class="row">

        {{#each data.items.movies}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}




        {{/each}}
    </div>


    </div>
    <div id="software" class="col s12">

    <div class="row">

        {{#each data.items.software}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}



        {{/each}}
    </div>


    </div>
    <div id="beauty" class="col s12">

    <div class="row">

        {{#each data.items.beauty}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}



        {{/each}}
    </div>


    </div>
    <div id="games" class="col s12">

    <div class="row">

        {{#each data.items.games}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}




        {{/each}}
    </div>


    </div>
    <div id="computers" class="col s12">

    <div class="row">

        {{#each data.items.computers}}


            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img class="activator" src="/images/uploads/thumbs/{{this.image}}">
                        <span class="card-title activator teal"style="width: 100%" >{{this.name}}</span>
                        <a href="add/{{this.id}}" class="btn-floating halfway-fab waves-effect waves-light red" ><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content activator grey lighten-3">
                        <h3 class="">Rs. {{this.price}}</h3>

                        <ul>
                            {{#each this.highlight}}
                                <li class="a">{{this}}</li>
                            {{/each}}
                        </ul>
                        <p class="right red-text">{{this.quantity}} LEFT!</p>

                        <p class="red-text activator" style="cursor: pointer">MORE ... </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title blue-text text-darken-4">Description <i class="material-icons right">close</i></span>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>

            {{#if (isDivisor 2 (sum @index 1))}}
            </div>
            <div class="row">

            {{/if}}



        {{/each}}
    </div>


    </div>

        <br>
        <br>
        <div class="row">

            <ul class="collapsible">




                    <li>
                        <!--        {{@key}}-->
                        <!--        <div class="collapsible-header">{{this.pname}} </div>-->
                        <div class="collapsible-header"><h6>RECENT PURCHASES </h6></div>
                        <div class="collapsible-body">
                            <ul class="collection">

                                {{#each data.recentpur}}

                                    <li class="collection-item"><strong>{{this.name}}</strong> <div class="right">{{this.time}}</div></li>

                                {{/each}}
                            </ul>


                        </div>
                    </li>




        </div>

        </div>


    </div>







</div>


<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});



    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>


{{> footer-end }}


